---
title:
description: 
image: 'images/ogimage.png'
faq:
  - question: Why am I asked to access the local network at launch?
    answer: vts-chameleon use udp packet to find VTube Studio instance.<br>Please allow local network access.
  - question: Is this free?
    answer: Yes, this is donation software. You can use completely <br>free but please consider donating if you like.
  - question: My model color does not change.
    answer: Please be sure, you select correct ArtMeshes and Colors.
  - question: My model color change very little...
    answer: This plugin use tint color API with VTube Studio, so <br> light color ArtMesh changes a lot but dark color ArtMesh cannot.
---
<section class="hero">
	<div class="text-container">
        <h1 class="editable"><strong>Colorize</strong> your model in VTube Studio ! </h1>
        <p class="subtext editable">VTS-chameleon is generic colorize plugin for <a href="https://denchisoft.com/" target="_blank" style="color: white; text-decoration: underline;">VTube Studio</a>. <br>
        Change colores and implessions freely.</p>
		<div>
			<img src="{{ site.baseurl }}/images/lp.webp" />
		</div>
		<div class="cta button alt"><a href="https://github.com/satetsu888/vts-chameleon/releases/latest/download/VTS-chameleon-Setup.exe">Download for Windows</a></div>
		<div class="cta button alt"><a href="https://github.com/satetsu888/vts-chameleon/releases/latest/download/VTS-chameleon.dmg">Download for MacOS</a></div>
	</div>
</section>

<div class="content" id="features">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Colorize</strong> your model freely</h2>
                <p>With VTS-chameleon, you can change the colors of your models as you wish. You can group multiple ArtMeshes and set their colors.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/colorize.webp" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Store <strong>favorite</strong> coordinates</h2>
                <p>You can save your favorite coordinates. You retrieve them whenever you want, and create new coordinates based on them.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/coordinates.webp" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Try</strong> your model's potential</h2>
                <p>Different colored uniforms, different hair and skin tones, different eye colors, etc. There are many potentials!<p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/other.webp" />
			</div>
		</div>
	</section>

	<section class="bottom-cta" id="downloads">
        <h2 class="editable"><strong>Downloads</strong></h2>
		<div class="cta button alt"><a href="https://github.com/satetsu888/vts-chameleon/releases/latest/download/VTS-chameleon-Setup.exe">Download for Windows</a></div>
		<div class="cta button alt"><a href="https://github.com/satetsu888/vts-chameleon/releases/latest/download/VTS-chameleon.dmg">Download for MacOS</a></div>
	</section>

    <section class="bottom-cta2" id="faqs">
        {% if page.faq %}
        <h2><strong>FAQ</strong></h2>
        <dl class="faq">
            {% for item in page.faq %}
            <div>
                <dt>{{ item.question }}</dt>
                <dd>{{ item.answer }}</dd>
            </div>
            {% endfor %}
        </dl>
        {% endif %}
    </section>
</div>
